.whaley-flex-container.dynamic-height
	app-aside.whaley-column-flex-container
	.whaley-flex-element.content-bg
		.main-content.main-manage-content(ui-view="app")
			lizi-bg
		loading(is-loading="loadingObj.isLoading")