.modal-header
	h4.modal-title 应用指派用户
.whaley-flex-container.whaley-flex-element
	.modal-body.whaley-flex-element
		stand-table(table-data="tableData"  template-name="modules/app/views/user.table.html")
	.modal-footer
		button.btn.btn-primary(ng-click="ok()") 保存
		button.btn.btn-warning(ng-click="cancel()") 取消   



