div
	.input-group
		input.form-control(type="text" ng-model="data" readonly="readonly")
		span.input-group-addon.glyphicon.glyphicon-calendar.gly-adjust(aria-hidden="true")
	//- a.btn.btn-flat.btn-primary(ng-click="loadContentdata()" ng-if="type == 'none'") 刷新
//- div.date-range-container.pull-right
//- 	i.fa.fa-calendar
//- 	input.date-range-input(type="text" name="{{name}}") 