.whaley-flex-container.dynamic-height
	aside-menu.whaley-column-flex-container
	.whaley-flex-element.content-bg
		.main-content.main-manage-content(ui-view="manage")
			lizi-bg
		loading(is-loading="loadingObj.isLoading")