.modal-header
	h4.modal-title 权限用户指派
.whaley-flex-container.whaley-flex-element
	.modal-body.whaley-flex-element
		stand-table(table-data="tableData" table-operation="tableOperation(opr,data)" template-name="modules/manage/views/authority/user.table.html")
	.modal-footer
		button.btn.btn-primary(ng-click="ok()") 保存
		button.btn.btn-warning(ng-click="cancel()") 取消  
//- .modal-header
//- 	h4.modal-title 
//- .modal-body
//- 	stand-table(table-data="tableData" table-operation="tableOperation(opr,data)" template-name="modules/manage/views/authority/user.table.html")
//- .modal-footer
//- 	button.btn.btn-primary(ng-click="ok()") 保存
//- 	button.btn.btn-warning(ng-click="cancel()") 取消    

