div
	//- div.clearfix.bottom-padding
	//- 	div.tableopr
	//- 		.btn.btn-flat.btn-sm.btn-primary(ng-click="authorityOperation('addRoot',authorityData)")
	//- 			span.glyphicon.glyphicon-plus
	//- 			|新建一级菜单
	stand-tree(data="authorityData" modify-flg="true" node-oprs="oprs" operation="authorityOperation(opr,node)" root-oprs="rootOprs")
	//- .configeditor(ng-jsoneditor ng-model="config" prefer-text="true" options="option")