.modal-header
    h4.modal-title 用户修改密码
.modal-body
    form(ng-submit="ok()")
        .form-group
            label 旧密码
            input.form-control(type="password" ng-model="obj.originPassword" required)
        .form-group
            label 新密码
            input.form-control(type="password" ng-model="obj.newPassword" required)
        .form-group
            label 确认新密码
            input.form-control(type="password" ng-model="obj.confirmNewPassword" required)
        .modal-footer
            button.btn.btn-primary(type="submit") 保存
            a.btn.btn-warning(ng-click="cancel()") 取消   


