.abs-modal(ng-class="{hidden: !isLoading}")
	.whaley-table-container(style="width:100%;")
		.whaley-cell-container
			.spinner(class="{{loadClass}}")
				.rect1
				.rect2
				.rect3
				.rect4
				.rect5