.modal-header
  h4.modal-title Crash日志操作历史
.whaley-flex-container.whaley-flex-element
  .modal-body.whaley-flex-element
    general-table(table-data="tableData")
  .modal-footer
    button.btn.btn-warning(ng-click="cancel()") 返回