nav#main-nav.navbar.navbar-default(role='navigation' bs-navbar)
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header.header-logo(style="margin-right:10px;")
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // span.navbar-brand 大象CRM v1.0
      img(src="image/navbar/logo.png")
    // Collect the nav links, forms, and other content for toggling
    navbar